# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
/.phpunit.cache

# IDE & System Files
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db

# Logs & Debug
npm-debug.log
yarn-error.log
auth.json
Homestead.json
Homestead.yaml

# Vite
# DO NOT IGNORE public/build – required for production!

